body {
  /*margin: 20px;*/
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

.introduction {
  background: grey;
}

.project {
  background: red;
  height: 50%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hidden {
  display: none;
}

@keyframe scrollFromLeft{
  0% {}
}
