body {
  /*font-family: 'Coming Soon', cursive;*/
  font-weight: 600;
  /*font-size: 15px;*/
}

h1,h3,h4 {
  font-family: 'Dancing Script', cursive;
}

.section {
  padding-top: 0;
  padding-bottom: 0;
}

section section {
  height: calc(100% - 15px);
}

section > .card::after{
  content: "";
  background: rgba(0,0,0,0.55);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

figure {
  margin-right: 0;
}

a {
  color: #FFF;
}

.hidden {
  display: none;
}

.transperant {
  opacity: 0;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 2.5s;
}

.show {
  display: block;
}

@keyframes fadeIn{
  0% {opacity: 0}
  100% {opacity: 1}
}

.card {
  height: 100%;
  background-size: cover;
  color: #FFF;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.home .title {
  font-size: 7vw;
}

.introduction h1 {
  margin: 0;
  font-size: 9vh;
}

.introduction .card {
  background-image: url("https://i.ytimg.com/vi/GLtUBDxeo40/maxresdefault.jpg");
}

.introduction .card p {
  margin: 10px 0;
  transition: top;
}

.introduction .card-content * {
  z-index: 1;
}

.introduction .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction .title {
  width: 100%;
  margin: 0 0 2% 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.introduction .title a {
  margin: 0 0 0 4%;
}

.introduction .title a:hover {
  color: #5F5F5F;
}

.introduction .tech-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/*.introduction .tech-skill .techStack ::after{
  content: "";
  background: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  border-radius: 10px;
}*/

.introduction article > * {
  z-index: 1;
}

.introduction .techStack {
  text-align: center;
}

.introduction .techStack div {
  margin: 3.5vh 0;
  height: 10vh;
  max-height: 10vh;
}

.introduction .techStack img {
  width: 25%;
  transition: width 0.2s;
}

.introduction .techStack img:hover{
  width: 35%;
}

.projects .card {
  background-image: url("http://orig08.deviantart.net/5704/f/2014/053/6/5/free_space_galaxy_texture_by_lyshastra-d77gh18.jpg");
}

.projects .card-content {
  display: flex;
  flex-direction: column;
}

.projects .card-content h3 {
  align-self: center;
  z-index: 1;
}

.projects .project-view div {
  top: 0;
  left: 0;
  right: 0;
  margin: 24vh auto;
  width: 120vh;
  position: absolute;
  opacity: 0.95;
  transform: skew(2deg,1deg);
  transition: transform 0.4s, top 0.4s, opacity 0.4s;
  text-align: center;
}

.projects .project-view div img {
  width: 100%;
}

.projects .project-view div:hover {
  transform: skew(0deg);
  top: -6vh;
  z-index: 99 !important;
  opacity: 1;
}

.projects .project-view div:hover h3 {
  animation-name: fadeIn;
  animation-duration: 0.4s;
  display: block;
  position: absolute;
  z-index: 1;
  top: 35%;
  width: 100%;
}

.projects .project-view div:hover::after {
  content: "";
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.projects .project-detail {
  z-index: 1;
}

.projects .project-detail .tabs {
  background-color: transparent;
}

.projects .project-detail img {
  width: 100%;
}

.projects .project-detail .highlight > li {
  text-indent: -5px;
}

.projects .project-detail .highlight > li:before {
  content: "-";
  margin: 0 5px 0 0;
}

.projects .project-detail .information .title {
  display: flex;
}
.projects .project-detail .information .title a {
  cursor: pointer;
  margin: 0 0 0 10%;
  display: flex;
  align-items: center;
}
.projects .project-detail .information .title i {
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .project-detail .information .title a:hover * {
  color: #5F5F5F;
}

.projects .project-detail .information .title a:hover p {
  font-size: 12px;
  color: #FFF;
  display: block;
  position: absolute;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.projects .project-detail .information .title .website p {
  margin-left: -12px;
}

.projects .project-detail .information .title .github p {
  margin-left: -19px;
}

.projects .techstack figure {
  margin: 2% 3% 0 3%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects .techstack figure img {
  width: 35%;
  margin: 0 0 5% 0;
  transition: width 0.4s;
}

.projects .techstack figure:hover img{
  width: 40%;
}

@media screen and (max-width: 780px) {
  .card {
    height: 160%;
  }

  .projects .project-view div {
    width: 75%;
  }
}
